* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#react-root {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#react-root>div {
    display: flex;
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    width: 320px;
    height: 100%;

    #webview-wrapper {
        width: 320px;
        height: 520px;
    }

    #footer {
        background: url(../images/footer/pc_footer_base.png) no-repeat;
        background-size: 320px auto;
        width: 320px;
        height: 45px;
        bottom: 0px;
        left: 0;
        position: absolute;
    }

    #footer-back {
        position: absolute;
        width: 38px;
        height: 38px;
        top: 6px;
        left: 0;
        background-image: url(../images/footer/button_back_off.png);
        background-size: cover;

        &:hover {
            background-image: url(../images/footer/button_back_on.png)
        }
    }

    #footer-mypage {
        position: absolute;
        width: 48px;
        height: 44px;
        right: 4px;
        top: 1px;
        background-image: url(../images/footer/button_mypage_off.png);
        background-size: auto 44px;

        &:hover {
            background-image: url(../images/footer/button_mypage_on.png);
        }

    }

    #footer-reload {
        position: absolute;
        width: 48px;
        height: 44px;
        right: 55px;
        top: 1px;
        background-image: url(../images/footer/button_reload_off.png);
        background-size: auto 44px;
        
        &:hover {
            background-image: url(../images/footer/button_reload_on.png);
        }
    }

    #footer-switch {
        position: absolute;
        width: 118px;
        height: 21px;
        left: 71px;
        bottom: 6px;
    }
}

#tool {
    width: 330px;
    height: 100%;

    .ant-tabs-nav {

        .ant-tabs-tab-inner {
            padding: 5px 15px;
        }

        .ant-tabs-tab {
            margin-right: 20px;   
        }
    }

    .ant-tabs-content {
        box-sizing: border-box;
        padding: 0 20px;

        #DevPanel,
        #ToolPanel {
            .ant-btn {
                margin: 0 5px 5px;
            }
        }

        #UserInfo,
        #Status {

            .wrap {

                span {

                }
            }
        }

    }
}